body {
    background-image: url("images/backgrounds/background2.webp");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a {color: yellow;}
a:visited {color: chocolate;}
a:hover {color: orange;}
a:active {color: orangered;}

header {
    text-align: center;
    color: white;
    background-color: #44444488;
    padding: 30px;
}

header:hover {
    text-align: center;
    color: #ffffff;
    background-color: #444444aa;
    padding: 30px;
}

main {
    width: 100%;
    text-align: center;    
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70%;
    text-align: center;
    color: white;
    background-color: #44444488;
    padding: 30px;
}

footer span {
    opacity: 50%;
}

footer:hover {
    text-align: center;
    color: white;
    background-color: #444444aa;
    padding: 30px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.planet {
    display: flex;
    opacity: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:min-content;
    background-color: #dddddd;
    border: #444444;
    padding: 10px;
    margin: 5px;
}

.planet:hover {
    opacity: 85%;
}

.section {
    padding: 10px;
    margin: 20px;
}

#mercury {
    background-color: orange;
    border-color: orangered;
    border-style: groove;
}
#venus {
    background-color: yellow;
    border-color: orange;
    border-style: groove;
}
#earth {
    background-color: lawngreen;
    border-color: green;
    border-style: groove;
}
#mars {
    background-color: red;
    border: brown;
    border-style: groove;
}
#jupiter {
    background-color: coral;
    border-color: chocolate;
    border-style: groove;
}
#saturn {
    background-color: burlywood;
    border-color: orange;
    border-style: double;
}
#uranus {
    background-color: aquamarine;
    border-color: cadetblue;
    border-style: double;
}
#neptune {
    background-color: dodgerblue;
    border-color: darkblue;
    border-style: groove;
}

#partners {
    color: white;
    text-align: left;
    background-color: #666666aa;
    opacity: 80%;
    padding: 10px;
    margin: 50px 0px 30px;
}

#partners h2 {
    text-align: center;
}

#partners:hover {
    opacity: 90%;
}

li:empty {
    color: red;
    list-style-type: georgian;
    background-color: black;
}

#personal {
    background-color: black;
    color: orangered;
}

#matery {
    background-image: url(images/backgrounds/background3.webp);
    font-family: 'Times New Roman', Times, serif
}

#matery mark {
    color: black;
    background-color: black;
}

#matery p {
    color: white;
    background-color: black;
    text-align: justify;
    padding: 20;
    margin: 0px 30px 10px;
}

#matery header, footer {
    background-image: url(images/backgrounds/background2.webp);
}

#matery header h1 {
    font-size: 50px;
    background-color: #00000000;
}

#matery section {
    background-color: #444444;
    background-image: url(images/backgrounds/background1.webp);
}

body#matery {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 1000px;
}

#matery i {
    color:blue
}

#matery b {
    color: red;
}

#matery h1 {
    color: aliceblue;
    background-color: black;
    text-align: center;
}

#matery img {
    float: left;
    width: 200px;
    margin: 20px;
}

#cursed {
    color: red;
    text-decoration: underline;
}