body {
    background-image: url("images/background.png");
}

a {color: blue;}
a:hover {color: aqua;}
a:active {color: chartreuse;}
a:visited {color: blueviolet;}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: auto;
    text-align: center;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;    
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #444444;
    border: 2px solid gray;
    padding: 10px;
    margin: 5px;
}

.planet {
    height: auto;
    column-count: 2;
    padding: 10px;
    margin: 5px;
}

.photo {
    width: 300px;
    margin: 10px;
    border-style: dotted;
    border-color: gray;
}

#mercury {
    background-color: orange;
    border: orangered;
    border-style: groove;
}
#venus {
    background-color: yellow;
    border: orange;
    border-style: groove;
}
#earth {
    background-color: lawngreen;
    border: green;
    border-style: groove;
}
#mars {
    background-color: red;
    border: brown;
    border-style: groove;
}


#products {
    display: grid;
    column-count: 2;
}

#partners {
    text-align: left;
    background-color: #dddddd;
    border: 2px solid gray;
    padding: 10px;
    margin: 5px;
}

li:empty {
    color: red;
    list-style-type: georgian;
    background-color: black;
}

